{% extends "base.html" %}
{% block content %}

    <section class="adj-margin-top">
        <h3 class="center-align page-lead">Categories</h3>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('add_category') }}" class="btn-large button-custom purple darken-3">
                    Add Category <i class="fas fa-plus-square right"></i>
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="row cards-container">
            {% for category in categories %}
            <div class="col s12 m6 l3">
                <div class="card read-card hoverable">
                    <div class="card-content purple-text">
                        <!-- category.id to show below the primary key instead -->
                        <span class="card-title">{{ category.category_name}}</span>
                    </div>
                    <div class="card-action read-button-container amber lighten-1">
                        <a href="{{ url_for('edit_category', category_id=category.id) }}"
                            class="btn-small waves-effect read-edit-btn">Edit
                        </a>
                        <a href="#" class="btn-small waves-effect purple darken-1 read-button">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}