{% extends "base.html" %}
{% block content %}

    <section class="adj-margin-top">

        <h3 class="center-align page-lead">Tasks</h3>

        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('add_task') }}" class="btn-large button-custom purple darken-3">
                    Add Task <i class="fas fa-plus-square right"></i>
                </a>
            </div>
        </div>
    </section>
    <section>
        <ul class="collapsible">
            {% for task in tasks|sort(attribute="due_date") %}
            <li>
                <div class="collapsible-header white-text purple darken-3">
                    <i class="fas fa-caret-down"></i>
                    <strong>{{ task.task_name }}</strong> : {{ task.due_date.strftime("%d, %B, %Y") }}
                    {% if task.is_urgent == True %}
                        <i class="fas fa-exclamation-circle purple-text text-lighten-2"></i>
                    {% endif %}
                </div>
                <div class="collapsible-body white">
                    <strong>{{ task.category }}</strong>
                    <p>{{ task.task_description }}</p>
                    <p>
                        <a href="{{ url_for('edit_task', task_id=task.id) }}"
                            class="btn-small waves-effect read-edit-btn">Edit
                        </a>
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}

