@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&family=Syne:wght@400;500;600&display=swap');

:root {
    --ff: 'Syne', Sans-serif;
    --ff-secondary: 'Source Sans Pro', Sans-serif;


    --fw-n: 400;
    --fw-m: 600;
    --fw-b: 800;

    --fs-2: 3rem;
    --fs-p: 1rem;

    --fc-h: #181818;

    --text-shadow: 2px 8px 6px rgba(0,0,0,0.6),
                    0px -5px 35px rgba(255,255,255,0.3);

    --custom-color: #af0069;
    --custom-color-hover:  #ff009b;

    --alt-custom-color: #982bb8;

    --bg-dark: #121212;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    height: auto;

    font-family: var(--ff);

    overflow-x: hidden;
}

main {
    margin: 0;
    padding: 0;
}

/* FONTS STYLING */

.text-shadow {
    text-shadow: var(--text-shadow);
}

h1,
h2,
h3 {
    font-weight: var(--fw-b);
    color: var(--custom-color);
}

h3 {
    font-size: 2.5rem;
}

p {
    font-family: var(--fw-n);
}

.page-lead {
    color: var(--fc-h);
    font-weight: var(--fw-m);
    font-size: var(--fs-2);
    text-shadow: var(--text-shadow);
}

/* NAVBAR STYLING */

nav {
    position: fixed;
    padding: 0 20px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.2);
}

nav.active {
    position: fixed;
    padding: 0 20px;
    z-index: 100;
    background: #6a1b9a;
}

nav li a:hover {
    background-color: purple;
}

main {
    flex: 1rem 0 auto;
}

/* ADJUSTED MARGINS TO CUSTOMISE MATERIALIZE STYLING */

.adj-margin {
    margin: 2rem auto;
}

/* STYLING FOR THE TASKS PAGE */

.section-container {
    width: 100%;
    height: 800px;
    margin-right: 0 !important;
    margin-left: 0 !important;
    max-width: 100% !important;
}

.container-bg {
    background: url(../images/orchidarium.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.adj-margin-top {
    margin-top: 6rem;
}

/* CARD PANEL STYLING TO CUSTOMISE MATERIALIZE STYLING */

.card-panel-custom {
    margin-left: 5rem;
    margin-right: 5rem;
    overflow-x: hidden;
    border-radius: 5px;
}

/* BUTTON STYLING TO CUSTOMISE MATERIALIZE STYLING */

.button-custom {
    border-radius: 5px;
}

/* FOOTER STYLING TO CUSTOMISE MATERIALIZE STYLING */

.footer-custom {
    padding-top: 0 !important;
}







/* media queries */

@media screen and (max-width: 26.875em) {
    #logo {
        font-size: 1.25rem;
    }

    .page-lead {
        font-size: 2rem;
    }

    /* .button-custom a {
        font-size: 1rem;
    } */

    .card-panel-custom {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 64rem) {
    main,
    container {
        margin: 0;
    }
}