@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&family=Syne:wght@400;500;600&display=swap');

:root {
    --ff: 'Syne', Sans-serif;
    --ff-secondary: 'Source Sans Pro', Sans-serif;


    --fw-n: 400;
    --fw-m: 600;
    --fw-b: 800;

    --fs-2: 3rem;
    --fs-p: 1rem;

    --fc-h: #181818;

    --text-shadow: 2px 8px 6px rgba(0,0,0,0.6),
                    0px -5px 35px rgba(255,255,255,0.3);

    --custom-color: #4a148c;
    --custom-color-secondary:  #ff009b;
    --custom-color-tertiary: #e040fb;

    --alt-custom-color: #982bb8;

    --bg-dark: #121212;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    /* height: auto; */
    min-height: 100vh;
    flex-direction: column;

    font-family: var(--ff);

    overflow-x: hidden;
}

main {
    margin: 0;
    padding: 0;
    flex: 1 0 auto;
}

/* FONTS STYLING */
.text-shadow {
    text-shadow: var(--text-shadow);
}

h1,
h2,
h3 {
    font-weight: var(--fw-b);
    color: var(--custom-color);
}

h3 {
    font-size: 2.5rem;
}

p {
    font-family: var(--fw-n);
}

.brand-logo {
    color: var(--custom-color-secondary)!important;
    font-weight: var(--fw-b);
}

.page-lead {
    color: var(--custom-color);
    font-weight: var(--fw-m);
    font-size: var(--fs-2);
    text-shadow: var(--text-shadow);
}

/* NAVBAR STYLING */
nav {
    position: fixed;
    padding: 0 20px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.2);
    height: 10.625rem;
}

nav.active {
    position: fixed;
    padding: 0 20px;
    z-index: 100;
    background: #6a1b9a;
}

nav li a:hover {
    background-color: var(--custom-color-secondary);
}

/* ADJUSTED MARGINS TO CUSTOMISE MATERIALIZE STYLING */
.adj-margin {
    margin: 2rem auto;
}

/* STYLING FOR THE TASKS PAGE */
.section-container {
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
    max-width: 100% !important;
}

.container-bg {
    background: url(../images/orchidarium.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.adj-margin-top {
    margin-top: 6rem;
}

/* CARD PANEL STYLING TO CUSTOMISE MATERIALIZE STYLING */

.cards-container {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.create-card-panel {
    margin-left: 5rem;
    margin-right: 5rem;
    overflow-x: hidden;
    border-radius: 5px;
}

.read-card {
    border-radius: 5px;
}

.categories-cards {
    display: flex;
    margin: 2rem auto;
    padding-right: 1.5rem !important;
}

/* BUTTON STYLING TO CUSTOMISE MATERIALIZE STYLING */

.button-custom {
    border-radius: 5px;
}

.read-button {
    border-radius: 5px;
    border: 1px solid inherit;
    margin: 0.5rem auto;
}

.read-edit-btn {
    border-radius: 5px;
    background: var(--custom-color-secondary);
    margin: 0.5rem auto;
}

.read-button:hover {
    background-color: #ffb300 !important;
    color: var(--custom-color);
}

.read-edit-btn:hover {
    background-color: #ffb300;
    color: var(--custom-color);
}

.read-button-container {
    display: flex;
    justify-content: center;
}

/* TASKS COLLAPSIBLES CUSTOMISE MATERIALIZE STYLING */
.collapsible {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    max-width: 80vw;
}

/* FOOTER STYLING TO CUSTOMISE MATERIALIZE STYLING */
.footer-custom {
    padding-top: 0 !important;
}

.nav-logo {
    margin: 0 auto !important;
    /* padding-top: .75rem; */
    width: 10rem;
    /* height: 22.8px; */
    /* margin-top: -20px;
    margin-bottom: -20px; */
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto !important;
    padding-top: .75rem;
    /* width: 50px; */
    height: 10rem;
}

.footer-copyright {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.footer-margin {
    margin-top: 0 !important;
}

/* MEDIA QUERIES */
@media screen and (max-width: 26.875em) {
    #logo {
        font-size: 1.25rem;
    }

    .page-lead {
        font-size: 2rem;
    }

    .create-card-panel {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
